html {
    font-family: Helvetica;
    font-size: 16px;
}


body {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .girl {
        opacity: 0.1 !important;
    }

    .logo {
        position: fixed !important;
        right: 500px !important;

    }

    h1 {
        right: 400px !important;
    }
}

h1 {
    font-size: 3.0rem;
    position: absolute;
    width: auto;
    top: 16%;
    right: 36%;
    z-index: 3;
}


.girl {
    position: relative;
    max-width: auto;
    max-height: 350px;
    z-index: 1;
    margin-right: 0;
    margin-top: 30px;
}

.violet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 380px;
    opacity: 0.5;
    z-index: 2;
}


.logo {
    position: absolute;
    margin-top: 55px;
    margin-left: -100px;
    z-index: 3;
}

.dots {
    height: 65px;
    position: absolute;
    margin-top: 0px;
    margin-left: -420px;
    opacity: 0.3;
    z-index: 3;
}



.butDetails {
    position: absolute;
    background: url("Images/Button details.png") no-repeat;
    width:205px;
    height:63px;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    margin-top: 230px;
    margin-left: 18%;
    right: 40%;
    z-index: 3;
    filter: drop-shadow(-5px 6px 4px #089);



}

.butDetails:hover {
    color: #089;
    filter: drop-shadow(-5px 6px 10px #089)
}


.butDetails:focus {
    color: black;
    filter: drop-shadow(-5px 6px 20px #a165f4)
}



.search {
    position: absolute;
    z-index: 3;
    background: url("Images/Button search.png") no-repeat;
    width: 377px;
    height: 71px;
    border:0;
    outline: 0;
    font-size: 2rem;
    top: 5%;
    right: 3%

}

.searchBut{
    position: absolute;
    z-index: 3;
    background: url("Images/search lense.png") no-repeat;
    width: 100px;
    height: 100px;
    border:0;
    outline:0;
    top: 8%;
    left: 93%;
}


.arrivalsLogo{
    float: right;
    margin: 50px 33%;

}

.arrivals {
    position: relative;
    margin: -30px 120px;
    z-index: 3;
    background-color: white;
    width: 80%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 3px 3px 1px lightslategrey;
}

ul .products {
    width: 100%;
    height: 100%;

}

.products li {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    border-color: black;
}

.products li:hover {
    border: 3px solid !important;
}


.bag {
    width: 270px;
    height: auto;
}

.brands {
    position: relative;
    margin: 300px 30px 300px 120px;
    width: 100%;
    height: auto;
}

.text {
    width: 30%;
    height: 200px;
    margin-right: 15%;
    margin-left: 7%;

}

.phone {
    position: relative;
    width: 45%;
    height: auto;
    float: right;
    margin-top: -15%;
    margin-right: 22%;
    z-index: 3;

}

.circle {
    position: absolute;
    z-index: 2;
    margin-top: -40%;
    margin-left: 26%;
    width: 80%

}






.showcase {
    position: relative;
    margin: -30px 120px;
    z-index: 3;
    background-color: white;
    width: 80%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 3px 3px 1px lightslategrey;

}

.showcaseLogo {
    display: block;
    margin: 30px auto;
}

div.navPanel {
    background: url("Images/nav.png") no-repeat;
    width: 1150px;
    height: 75px;
    margin: auto;
    filter: drop-shadow(-5px 2px 7px lightslategrey)


}

.navPanel ul {
    padding-top: 15px;

}

.navPanel li {
    display: inline-block;
}

.navPanel li button {
    font-size: 1.5rem;
    margin: 0 115px;
    border: 0;
    border-radius: 30%;
    outline: 0;
    width: 110px;
    height: 40px;
}

.navPanel li button:hover {
    color: #089;
    filter: drop-shadow(-5px 6px 10px #089)
}

div.tabcontent {
    width: 100%;
    height: 100%;
    display: none;

}

.tabcontent li {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    border-color: black;
}

.tabcontent li:hover {
    border: 3px solid !important;
}

#surf {
    height: auto;
}

.video {
    padding: 40px 0;
    float: right;
    margin-right: 30%;

}

.news {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #a165f4;
    opacity: 0.7;
}

.footer {
    position: relative;
    width: 100%;
    height: 200px;
}









